
    <div class="movieDetailContainer"> 
        <div class="caratula">
            <img src="{{this.pelicula.image}}" alt="caratula" height="300px">
        </div>

        <div class="movieDetailCard">
            <a href="/">Go back</a>
            <h2>{{this.pelicula.title}}</h2>
            <h3>Director: {{this.pelicula.director}}</h3>

            <h4>Stars</h4>
            <ul>
                {{#each this.pelicula.stars}}
                <li>{{this}}</li>
                {{/each}}
            </ul>

            <p>{{this.pelicula.description}}</p>
            <div class="divShowtimes">
               {{#each this.pelicula.showtimes}}
                    <p>{{this}} |</p>
                {{/each}} 
            </div>
            
        </div>
    </div>
